body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/***********************************************************
 *              Intérieur du supermarché
 ***********************************************************/
#playground {
    position: relative;
    height: calc((98vw * 659) / 736);
    width: 98vw; 
    background: url(../images/supermarche-fond-2.jpg);
    background-size: cover;
    margin: 0 auto;
    padding: 0;
}

#playground .rayon {
    position: absolute;
    border: none; /* solid 2px red; */
    cursor: pointer;
}

#playground .sprite {
    position: absolute;
    display: block;
    width: 5vw;
    height: 6vw;
    transform: translate(-50%,-100%);
    background-color: transparent; 
    background-repeat: no-repeat;
    background-size: 16vw 24vw;
    cursor: pointer;
    overflow: visible;
}
#playground .caissier {
    width: 3.5vw;
    background-image: url(../images/sprite9.png);
    background-position: -6vw -6vw;
}

#playground .selected:after {
    display: block;
    content: ' ';
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 2vw;
    top: -2vw;
    width: 1vw;
    height: 1vw;
}


/**** Zone de prise des scanettes ****/

#playground .icScanette {
    background-image: url(../images/scanette.png);
    background-color: black;
    position: absolute;
    background-size: cover;
    width: 2vw;
    height: 3vw;
    cursor: pointer;
    top: 91%;
    border: solid 2px #000;
    left: 48%;
}
#playground .icScanette.prise {
    background-image: none;   
}
#playground .icScanette:nth-of-type(2) {
    left: 50%;
}
#playground .icScanette:nth-of-type(3) {
    left: 52%;
}
#playground .icScanette:nth-of-type(4) {
    left: 54%;
}


/***********************************************************
 *              Bloc "Scanette"
 ***********************************************************/

#playground.withScanette ~ #bcScanette {
    display: block;
}
#bcScanette {
    display: none;   
    background: url(../images/scanette-affichage2.png);
    background-size: cover;
    position: fixed;
    transition: bottom 0.3s linear 0s;
    bottom: -20vw;
    right: 2vw;
    height: 24vw;
    width: calc((24vw * 335) / 490);
}
#bcScanette > label {
    position: absolute;
    width: 100%;
    top: 0; 
    left: 0;
    cursor: pointer;
    height: 4vw;
}
#cbScanette:checked + #bcScanette {
    bottom: 0;
}

/** Ecran et son contenu (titre h3, .panier, .total, .btnDroit/.btnGauche) **/
#bcScanette > #bcEcran {
    background: blue;
    color: white;
    font-size: 0.7vw;
    box-sizing: border-box;
    position: absolute; 
    width: 54%;
    padding: 2px 4px;
    height: 43%;
    left: 23%;
    top: 17%;
    border-radius: 5%;
}
#bcEcran > h3 {
    margin: 0;
    font-size: inherit;
    font-weight: bold;
}
#bcEcran > .panier {
    line-height: 15%;
    overflow-y: hidden;
    padding: 1px 0;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    height: 70%;
}
#bcEcran > .panier > p {
    margin: 0;
    padding: 1px 0;
    line-height: 0.8vw;
}
#bcEcran > .panier > p > .prix {
    float: right;
    text-align: right;
}
#bcEcran > .panier > p > .prix:after {
    content: '€';
}
#bcEcran > .panier > p > .quantite {
    float: left;
    width: 1vh; 
    margin-right: 2px;
}
#bcEcran > .total {
    position: absolute;
    margin-right: 4px;
    width: 50%;
    bottom: 0;
    text-align: right;
    right: 0;
}
#bcEcran > .btnGauche, #bcEcran > .btnDroit {
    position: absolute;
    border: solid 1px white;
    bottom: 2px;
    padding: 2px;
    font-size: 0.7vw;
    border-radius: 2px;
    color: blue;
    background-color: white;
}
.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#bcEcran > .btnGauche {
    left: 4px;
}
#bcEcran > .btnDroit {
    right: 0;
}

/** Bouton en dessous de l'écran **/
#btnHaut, #btnBas, #btnJaune, #btnOptGauche, #btnOptDroit {
    position: absolute;
    cursor: pointer;
    border: none;

}
#btnHaut {
    left: 23%;
    top: 71%;
    width: 13%;
    height: 6%;
}
#btnBas {
    right: 22%;
    top: 71%;
    width: 13%;
    height: 6%;
}
#btnJaune {
    left: 42%;
    top: 72%;
    width: 19%;
    height: 10%;
}
#btnOptDroit {
    right: 23%;
    top: 65%;
    width: 13%;
    height: 3%;
}
#btnOptGauche {
    left: 25%;
    top: 65%;
    width: 13%;
    height: 3%;
}


/***********************************************************
 *                       Caddie
 ***********************************************************/

#playground.selected ~ #icCaddie, #playground.takesCare ~ #icCaddie {
    display: block;
}
#icCaddie, #bcCaddie {
    position: fixed;
    display: none;    
    background-color: beige;
}

#icCaddie {
    width: 6vw;
    height: 6vw;
    bottom: 1vw;
    left: 2vw;
    border-radius: 0.6vw;
    background-image: url(../images/caddie.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
    overflow: visible;
    cursor: pointer;
}
#icCaddie > #icPastille {
    background: red;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    box-sizing: border-box;
    font-size: 1.4vw;
    font-weight: bold;
    padding: 0.2vw;
    line-height: 1.8vw;
    text-align: center;
    color: white;
    position: absolute; 
    right: -1vw;
    top: -1vh;
}

#cbCaddie:checked + #bcCaddie {
    display: block;
}
#bcCaddie {
    width: 70vw;
    height: 70vh;
    bottom: 15vh;
    left: 15vw;
    border-radius: 2vw;
}
#bcCaddie h2 {
    text-align: center;   
}


/**** Affichage commun au caddie et aux rayons ****/
div.contenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    height: 80%;
    overflow-y: scroll;
}
div.contenu div.article {
    position: relative;
    width: 20vh;
    border: solid 2px #000;
    height: 20vh;
    margin: 2vw;
    background-origin: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.contenu div.article img.codeBarre {
    position: absolute;
    display: none;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border: solid 1px #000;
}
#playground.canScan ~ div > div.contenu div.article:hover img.codeBarre {
    display: block;
}
#playground.canScan ~ div > div.contenu div.article:hover img.codeBarre:active {
}
#playground.canScan ~ div img.codeBarre:hover {
    cursor: url(../images/point-rouge.png) 20 20, auto;
}
#playground.canScan ~ div img.codeBarre:active {
    cursor: url(../images/point-vert.png) 20 20, auto;
}


/***********************************************************
 *                       Rayons
 ***********************************************************/

#cbRayon:checked + #bcRayon {
    display: block;   
}
#bcRayon {
    position: fixed;
    display: none;    
    width: 70vw;
    height: 70vh;
    bottom: 15vh;
    left: 15vw;
    overflow: visible;
    border-radius: 2vh;
    background-color: lightgray;
}
#bcRayon .contenu > div {
    position: relative;
}
#bcRayon .etiquette {
    width: 100%;
    position: relative;
    height: 8vh;
    padding: 3px;
    box-sizing: content-box;
    left: -3px;
    border: solid 1px #000;
    border-radius: 5px;
    background-color: white;
    
}
#bcRayon .etiquette .codeBarre {
    position: absolute;
    height: 8.5vh;
    bottom: 0;
    width: auto;
    display: block;
    left: 15%;
    clip: rect(32px,226px,72px,0px);
}
#bcRayon .etiquette .prix {
    float: left;
    font-weight: bold;
    font-size: 120%;
    margin-right: 2px; 
    padding-left: 2px;
}
#bcRayon .prix:after {
    content: ' €';   
}
#bcRayon .etiquette .libelle {
    text-align: right;
    font-size: 1.8vh;   
}


#bcRayon h2 {
    position: relative;
    width: 50%;
    border: solid 1px #000;
    padding: 6px;
    text-align: center;
    margin: 3vh auto 5vh auto;
    border-radius: 1vh;
    box-shadow: 5px 5px 5px gray;
    background-color: white;
}
#bcRayon h2:before, #bcRayon h2:after {
    border-top: solid 2px #000;
    width: 3vh;
    content: ' ';
    top: calc(-6px - 1vh);
    position: absolute; 
    transform: rotate(90deg);
}
#bcRayon h2:before {
    left: 10%;   
}
#bcRayon h2:after {
    left: 90%;   
}


/**** Boutons présents dans les fenêtres (rayons, caddie, caisse) ****/
.close, .supprimer, .ajouter {
    display: block;
    position: absolute;
    right: -2vh;
    top: -2vh;
    width: 4vH;
    cursor: pointer;
    height: 4vh;
    background: red;
    border: solid 1px #000;
    border-radius: 50%;
}
.close:before, .close:after {
    position: absolute;
    left: 1.8vh;
    top: 0.5vh;
    content: ' ';
    height: 3vh;
    width: 0.5vh;
    background-color: white;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

#playground.selected ~ div .ajouter, #playground.selected ~ div .supprimer {
    display: block;   
}

.supprimer, .ajouter {
    display: none;
    background-image: url(../images/supprimer2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.supprimer {
    background-image: url(../images/supprimer2.png);
}
.ajouter {
    background-image: url(../images/ajouter2.png);
}
.ajouter:active, .supprimer:active {
    background-color: darkgreen;   
}




/***********************************************************
 *                       CAISSES
 ***********************************************************/

#cbCaisse:checked + #bcCaisse {
    display: block;   
}
#bcCaisse {
    display: none;
    width: 70vw;
    height: 85vh;
    top: 15vh;
    left: 15vw;
    position: fixed;
    background-color: beige; 
}
#bcCaisse #bcMoniteur {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 2vw auto;
    background-color: white;
    border: inset 5px;
}
.caisse {
    position: absolute; 
    cursor: pointer;
}

#bcCaisse .codeBarre {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    width: 7%;
    padding: 0.5vw;
    background-color: white;
    border: solid 1px black;
}
#bcCaisse .fente {
    width: 20%;
    height: 1%;
    position: absolute; 
    right: -2vw;
    top: 10vw;
    overflow: visible;
    z-index: 1;
    transform: rotate(-90deg);
    background-color: #333;
}
#playground.selectedC ~ #bcCaisse .fente {
    cursor: pointer;
}
#bcCaisse.session .fente:before {
    content: 'M. CAISSIER - CARTE PERSO.';
    font-size: 1vh;
    text-align: center;
    line-height: 1vh; 
    padding-top: 1vh;
    box-sizing: border-box;
    width: 90%;
    height: 3vh;
    position: absolute; 
    right: 5%;
    top: 0vh;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    background-color: lightblue;    
}

.progressBar:before {
    content: ' ';
    position: absolute;
    height: 3vh;
    box-sizing: border-box;
    bottom: -11vh;
    width: 100%;
    left: 1px;
    border: solid 1px lightskyblue;
}
.progressBar:after {
    content: ' ';
    position: absolute;   
    background-color: lightskyblue;
    width: 0%;
    box-sizing: border-box;
    height: calc(3vh - 4px);
    bottom: calc(-11vh + 2px);
    left: 2px;
    animation: animProgressBar 2s ease-in-out 0s;
}
@keyframes animProgressBar { 
    from { width: 2px; } to { width: calc(100% - 4px); }
}

#bcMoniteur .gauche, #bcMoniteur .droite {
    display: block;
    position: absolute;
    width: 49%;
    height: 100%;
}
#bcMoniteur .gauche {
    left: 0;   
    padding: 1vw;
}
#bcMoniteur .gauche h2 {
    text-align: left;
    font-weight: bold;
    height: 10%;
}
#bcMoniteur .gauche .liste {
    overflow-y: scroll;
    font-size: 1.7vh;
    padding: 1vw 0.5vw;
    height: calc(80% - 15vh);
    border-radius: 1vh;
    margin-bottom: 2vh;
    border: solid 2px lightskyblue;
}
#bcMoniteur .gauche .liste .ligne {
    color: black;
    margin: 2px 0;
    padding: 2px 4px;
    background-color: white;
    cursor: pointer;
}
#bcMoniteur .gauche .liste .ligne.selected {
    color: white;
    background-color: lightskyblue;
}
#bcMoniteur .gauche .flotteD {
    float: right;
    margin-left: 4%;
    text-align: right;
}
#bcMoniteur .gauche .flotteG {
    float: left;
    margin-right: 4%;
}
#bcMoniteur .gauche .prix:after {
    content: '€';   
}
#bcMoniteur .gauche .total {
    padding: 1vh;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    border-radius: 1vh;
    border: solid 2px lightskyblue;
}

#bcMoniteur .droite {
    right: 0;   
}

#bcMoniteur .bouton {
    border-radius: 0.7vw;
    width: 10vw;
    padding: 0.5vw;
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

#bcCaisse.session #bcMoniteur #btnAnnuler {
    display: block;
}
#bcMoniteur #btnAnnuler {
    display: none;
    top: 95%;
    left: 75%;
}
#bcMoniteur #btnAjouter {
    left: 50%;
    top: 40%;
}
#bcMoniteur #btnSupprimer {
    left: 50%;
    top: 60%;
}
#bcMoniteur #msg {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
}

#bcMoniteur #btnPayer {
    left: 50%;  
    top: 80%;
}
#playground.selectedC ~ #bcCaisse #btnPayer {
    display: none;   
}
#playground.selected ~ #bcCaisse #btnSupprimer, 
#playground.selected ~ #bcCaisse #btnAjouter, 
#playground.selected ~ #bcCaisse #btnAnnuler {
    display: none;   
}


/***********************************************************
*                   CLIENTS (+ Animations)
 ***********************************************************/
.client1 {
    background-image: url(../images/sprite1.png);   
}
.client2 {
    background-image: url(../images/sprite2.png);   
}
.client3 {
    background-image: url(../images/sprite3.png);   
}
.client4 {
    background-image: url(../images/sprite4.png);   
}
.client5 {
    background-image: url(../images/sprite7.png);   
}
.client6 {
    background-image: url(../images/sprite6.png);   
}
.client7 {
    background-image: url(../images/sprite5.png);   
}
.client0 {
    background-image: url(../images/sprite8.png);   
}

@keyframes animMarcheGauche {
    0% {    background-position: -0vw -6vw;   }
    25% {   background-position: -5.5vw -6vw;   }
    50% {   background-position: -11vw -6vw;   }
    75% {   background-position: -5.5vw -6vw;   }
    100% {    background-position: -0vw -6vw;   }
}
@keyframes animMarcheDroite {
    0% {    background-position: -0vw -12vw;   }
    25% {   background-position: -5.5vw -12vw;   }
    50% {   background-position: -11vw -12vw;   }
    75% {   background-position: -5.5vw -12vw;   }
    100% {    background-position: -0vw -12vw;   }
}
@keyframes animMarcheBas {
    0% {    background-position: -0vw -0vw;   }
    25% {   background-position: -5.5vw -0vw;   }
    50% {   background-position: -11vw -0vw;   }
    75% {   background-position: -5.5vw -0vw;   }
    100% {    background-position: -0vw -0vw;   }
}
@keyframes animMarcheHaut {
    0% {    background-position: -0vw -18vw;   }
    25% {   background-position: -5.5vw -18vw;   }
    50% {   background-position: -11vw -18vw;   }
    75% {   background-position: -5.5vw -18vw;   }
    100% {    background-position: -0vw -18vw;   }
}
.client.animation {
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}
.client.animation.marcheG {
    animation-name: animMarcheGauche;   
}
.client.animation.marcheD {
    animation-name: animMarcheDroite;   
}
.client.animation.marcheB {
    animation-name: animMarcheBas;   
}
.client.animation.marcheH {
    animation-name: animMarcheHaut;   
}
.client.arretG {
    background-position: -5.5vw -6vw;
}
.client.arretD {
    background-position: -5.5vw -12vw;
}
.client.arretB {
    background-position: -5.5vw -0vw;
}
.client.arretH {
    background-position: -5.5vw -18vw;
}

.zoneOK {
    position: absolute;
    box-sizing: border-box;
    border: none: /* solid 2px blue; */
}